@(loginform: Form[Application.Login])
@import helper.twitterBootstrap._


@styles = {
    <style type="text/css">
            body {
            padding-top: 80px;
            padding-bottom: 40px;
            }

            .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
            }
            .form-signin .form-signin-heading,
            .form-signin .checkbox {
            margin-bottom: 20px;
            }
            .form-signin input[type="text"],
            .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 3px;
            padding: 7px 9px;
            }
    </style>
}

@main("Serwery baz danych", styles = styles) {

<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
<div class="container-fluid">
<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="brand" href="#">Database Admin</a>
<div class="nav-collapse collapse">
<p class="navbar-text pull-right">
    Zaloguj się <i class="icon-play-circle icon-white"> </i>
</p>

</div><!--/.nav-collapse -->
</div>
</div>
</div>

<div class="container">

    @helper.form(routes.Application.authenticate(), 'class -> "form-signin") {
        <fieldset>
            <h2 class="form-signin-heading">Zaloguj się</h2>
        @if(loginform.hasGlobalErrors) {
            <div class="alert alert-error">
                @loginform.globalError.message
            </div>
        }
        @if(flash.contains("success")) {
            <div class="alert alert-success">
                @flash.get("success")
            </div>
        }
        @helper.inputText(loginform("login"), 'class -> "input-block-level", '_label -> "", 'placeholder -> "Login")
        @helper.inputPassword(loginform("password"), 'class -> "input-block-level", '_label -> "", 'placeholder -> "Hasło")
        <button class="btn btn-large btn-primary" type="submit">Zaloguj</button>
        </fieldset>

    }

</div><!--/.fluid-container-->

}
