@(types: List[models.DatabaseType])(typeId: Int)

@servers {
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header"> Serwery </li>
                        <li> <a href="@routes.AdminServers.allServers()"> Wszystkie serwery </a> </li>
                        @for(t <- types) {
                            @if(t.id == typeId) {
                                <li class="active"> <a href="@routes.AdminServers.serversByType(t.id)"> @t.name @t.version </a> </li>
                            } else {
                                <li> <a href="@routes.AdminServers.serversByType(t.id)"> @t.name @t.version </a> </li>
                            }

                        }
                    </ul>
                </div><!--/.well -->
            </div><!--/span-->
            <div class="span10">
                <h1>DB type id: @typeId</h1>

            </div><!--/span-->
        </div><!--/row-->

        <hr>

        <footer>
            <p>&copy; AGH 2013</p>
        </footer>

    </div><!--/.fluid-container-->
}

