

@adminPanel {

	<div id="UsersTableContainer"></div>
}




<script type="text/javascript">
    $(document).ready(function () {
        $('#UsersTableContainer').jtable({
            title: 'Użytkownicy',
            actions: {
                listAction: '/admin/users/list',
                createAction: '/admin/users/create',
                updateAction: '/admin/users/update',
                deleteAction: '/admin/users/delete'
            },
            fields: {
                Login: {
                    title: 'Login',
                    width: '40%',
                    key: true,
                    list: true,
                    edit: false,
                    create:true
                },
                Role: {
                    title: 'Rola',
                    width: '40%'
                },
                Password: {
                	list:false,
                	title: 'Hasło'
                }
            }
        });
        
        $('#UsersTableContainer').jtable('load');
    });
    
	

</script>